body {
font-family: Arial, Helvetica, sans-serif; background: #f4f4f4;
margin: 0;
padding: 0;
}
.resume-container { width: 40%;
height: 60%; margin-left: auto; margin-right: auto; background: white;
padding: 20px 40px;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h1 {
text-align: center;
text-transform: uppercase; text-decoration: underline; font-weight: bold;
color: #003366;
}
.top-section {
display: flex;
justify-content: space-between; align-items: center;
border-bottom: 2px solid #003366; padding-bottom: 10px;
margin-bottom: 20px;
}
.info p {
margin: 4px 0; font-size: 16px; display: flex;
align-items: center;
}
.icon {
width: 22px;
display: inline-block; font-size: 18px; margin-right: 6px;

}
.photo img { width: 150px;
height: 150px; object-fit: contain; border-radius: 50%;
border: 3px solid #000;height: 140px;
}
.info a {
text-decoration: none; color: #003366;
font-weight: bold;
}
.info a:hover { color: #0077b5;
}
table {
width: 100%;
border-collapse: collapse; margin: 15px 0;
}
table, th, td {
border: 1px solid black; padding: 8px;
text-align: center;
}
.section-title {
font-weight: bold; margin-top: 20px; text-align: center; font-size: 20px; padding-bottom: 5px;
border-bottom: 2px solid #003366; color: #003366;
width: 100%;
text-transform: uppercase;
}
ul, ol {
margin-left: 20px;
}
.social-links a { margin-right: 20px;
text-decoration: none;

color: #003366; font-weight: bold;
}
.social-links a:hover { color: #0384ca;
}
.social-links { display: flex;
justify-content: space-between; /* spreads evenly across page */ align-items: center;
text-decoration: none; color: #003366;
font-weight: bold; font-size: 16px;
}